* {
  box-sizing: border-box;
}
header {
  text-align: center;
  align-items: center;
}
div {
  text-align: center;
}
#time-allowed {
  font-size: 30px;
}
.start {
  display: flex;
  justify-content: center;
}
